body{
    font-family: "Outfit", sans-serif;
}
.clickStyle{
    background-color: rgb(180, 244, 97) !important;
    color: rgb(17,17,17) !important;
    border:1px solid rgb(180, 244, 97) !important;
}
.x{
    position: relative !important;
    top: -186px !important;
}
.errorColor{
    color:rgb(239, 76, 83);
}
